CONFIG_AT91KIZBOX=y
CONFIG_RAM_32MB=y
CONFIG_NANDFLASH=y
# CONFIG_PMECC_AUTO_DETECT is not set
CONFIG_LOAD_LINUX=y
CONFIG_LINUX_ZIMAGE=y
CONFIG_THUMB=y
# CONFIG_DISABLE_WATCHDOG is not set
CONFIG_UBI=y
